
// The goal of this file is to contain CSS hacks related to allowing



.cumming_product_form{
    font-size: 1.6em!important;
    label{
        font-size: 1em !important;
    }
    text-transform: uppercase !important;
}

.cumming_product_tree{
    table{
        thead{
            //position: fixed;
            /*tr{
                position: fixed;
                z-index: 999;
                background-color: white;
            }*/
        }
        tbody{
            tr{
                td{
                    border-right: 1px solid gray !important;

                }
                td.o_list_record_selector{
                    border-right:none !important ;
                }
            }
        }
    }
}