
// The goal of this file is to contain CSS hacks related to allowing



.cumming_product_form{
    font-size: 1.6em!important;
    label{
        font-size: 1em !important;
    }
    text-transform: uppercase !important;
}